---
import Layout from "../layouts/Layout.astro";
import Goodscard from "../components/goodsJsonCard.astro";
import { getCollection } from "astro:content";
---

<Layout>
  <main class="main">
    <div class="main__inner">
      <Goodscard />
    </div>
  </main>
</Layout>
<style lang="scss">
  .main {
    margin-top: 170px;
    &__inner {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }
</style>
