---
import Layout from "../layouts/Layout.astro";
import Goodscard from "../components/goodsJsonCard.astro";
import { getCollection } from "astro:content";
---

<Layout>
  <main class="main">
    <div class="main__inner">
      <div class="main__card__list">
        <Goodscard />
      </div>
    </div>
  </main>
  <style lang="scss">
    .main {
      &__card__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  </style>
</Layout>
