---
import Layout from "../layouts/Layout.astro";
import Goodscard from "../components/goodsJsonCard.astro";
import { getCollection } from "astro:content";
---

<Layout>
  <main class="main">
    <div class="main__inner">
      <Goodscard />
    </div>
  </main>
</Layout>
<style lang="scss">
  .main {
    &__inner {
      width: 80%;
      margin-right: 0;
      margin-left: 0;
    }
  }
</style>
