---

---

<footer>
  <p><span>©</span> 2024 name by Trident School of Infrmation Technology</p>
</footer>
<style lang="scss">
  span {
    font-size: 25px;
  }
  footer {
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    p {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>
