---
import goods from "../data/goods.json";
console.log(goods);
---

<ul class="item">
  {goods.map((list) =>
     <li>{list.name}</li>
     <img src=`/images/${list.itemphotos[0]}` />
     <p>{list.text}</p>
  )}
</ul>
<style lang="scss">
.item{
  text-decoration: none;
    display: block;
    width: 25%;
    padding-bottom: 3rem;
    margin-right: 10%;
    img{
      max-width:250px;
    }
}
</style>
