---
import goods from "../data/goods.json";
console.log(goods);
---

<div class="goods-card">
  <ul class="goods-list">
    {
      goods.map((list) => (
        <li class="goods-item">
          <a href="#">{list.name}</a>
          <img src={`/images/${list.itemphotos[0]}`} alt={list.name} />
          <p>{list.text}</p>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .goods-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .goods-item {
    text-decoration: none;
    display: block;
    width: 25%;
    margin-bottom: 3rem;
    margin-right: 10%;
    box-sizing: border-box;
    max-width: 350px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      width: 100%;
      max-width: 350px;
      height: auto;
    }

    a {
      display: block;
      list-style-type: none;
      text-decoration: none;
    }

    p {
      text-align: left;
      margin-top: 0.5rem;
    }
  }

  @media (max-width: 650px) {
    .goods-item {
      text-decoration: none;
      display: block;
      width: 40%;
      margin-bottom: 3rem;
      box-sizing: border-box;
      max-width: 350px;

      &:nth-child(3n) {
        margin-right: 10%;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
</style>
