---
import goods from "../data/goods.json";
console.log(goods);
---

<div class="goods-card">
  <ul class="goods-list">
    {
      goods.map((list) => (
        <li class="goods-item">
          <a href="#">
            <img src={`/images/${list.itemphotos[0]}`} alt={list.name} />
            <p>{list.name}</p>
            <p>¥{list.price}</p>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .goods-card {
    display: flex;
    justify-content: center;
  }

  .goods-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
    gap: 1rem;
    max-width: calc(100% - 1rem);
    justify-content: flex-start;
  }

  .goods-item {
    text-decoration: none;
    display: block;
    width: calc(33.33% - 1rem);
    margin-bottom: 3rem;
    box-sizing: border-box;
    max-width: 350px;

    img {
      width: 100%;
      max-width: 350px;
      height: auto;
    }

    a {
      display: block;
      text-align: left;
      list-style-type: none;
      text-decoration: none;
      color: #000;
    }

    p {
      text-align: left;
      margin-top: 0.5rem;
      color: #000;
    }
  }

  @media (max-width: 650px) {
    .goods-item {
      width: calc(50% - 1rem);
      margin-bottom: 3rem;
      box-sizing: border-box;
      max-width: 350px;
    }
  }
</style>
