---

---

<header>
  <div class="flex">
    <a href="/14_ecsite">
      <h1><img class="rogo" src="../public/images/rogo.png" alt="" /></h1>
    </a>
    <a href="/14_ecsite">
      <img class="kart" src="../public/images/home.png" alt="" />
    </a>
  </div>
</header>
<style lang="scss">
  header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 100;

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      width: 80%;
      margin: auto;
      a {
        text-decoration: none;
        h1 {
          color: #000;
        }
      }
      .rogo {
        max-width: 200px;
      }
      .kart {
        width: 40px;
        height: 40px;
      }
    }
  }
</style>
